HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.DS_Store
logs/


wx-mini-program/dist/
wx-mini-program/deploy_versions/
wx-mini-program/.temp/
wx-mini-program/.rn_temp/
wx-mini-program/node_modules/
wx-mini-program/.swc

docker/sca/rocketmq/data/broker/logs
docker/sca/rocketmq/data/broker/store
docker/sca/rocketmq/data1/broker/logs
docker/sca/rocketmq/data1/broker/store
docker/sca/rocketmq/data/namesrv/logs