include:
  - ./docker/sca/rocketmq/docker-compose.yml

services:


  redis:
    container_name: redis
    image: "redis:6-alpine"
    ports:
      - "6379:6379"
  nacos:
    image: nacos/nacos-server:v2.4.3
    container_name: nacos
    environment:
      - PREFER_HOST_MODE=hostname
      - MODE=standalone
      - management.endpoints.web.exposure.include=prometheus
    volumes:
      - ./logs/:/home/nacos/logs
    ports:
      - "8848:8848"
      - "9848:9848"
    healthcheck:
      test: [ "CMD", "curl", "-X","GET", "http://127.0.0.1:8848/nacos/v2/core/cluster/node/self/health" ]
      interval: 5s
      timeout: 2s
      retries: 5

  prometheus:
    image: prom/prometheus:v2.53.0 # https://hub.docker.com/r/prom/prometheus
    container_name: prometheus
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command:
      - --enable-feature=exemplar-storage
      - --enable-feature=otlp-write-receiver
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - prometheus:/prometheus
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: on-failure

  grafana:
    image: grafana/grafana:10.4.2 # https://hub.docker.com/r/grafana/grafana/tags
    container_name: grafana
    extra_hosts: [ 'host.docker.internal:host-gateway' ]
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
      - ./docker/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
    ports:
      - "3000:3000"
    restart: on-failure

  tempo:
    image: grafana/tempo:2.4.1 # https://hub.docker.com/r/grafana/tempo/tags and https://github.com/grafana/tempo/releases
    container_name: tempo
    extra_hosts: [ 'host.docker.internal:host-gateway' ]
    command: [ '-config.file=/etc/tempo.yml' ]
    volumes:
      - tempo:/tmp/tempo
      - ./docker/grafana/tempo.yml:/etc/tempo.yml:ro
    ports:
      - "3200:3200"    # tempo
      - "4318:4318"  # otlp http
    restart: on-failure

  loki:
    image: grafana/loki:3.0.0 # https://hub.docker.com/r/grafana/loki/tags and https://github.com/grafana/loki/releases
    container_name: loki
    extra_hosts: [ 'host.docker.internal:host-gateway' ]
    command: [ '-config.file=/etc/loki/local-config.yaml' ]
    volumes:
      - loki:/tmp/loki
      - ./docker/grafana/loki-config.yml:/etc/loki/local-config.yaml:ro
    ports:
      - "3100:3100"
    restart: on-failure

  spring-cloud-gateway:
    build: ./spring-cloud-gateway
    container_name: spring-cloud-gateway
    environment:
      spring.profiles.active: dev
      NACOS_HOST: nacos
      PROMETHEUS_HOST: prometheus
    ports:
      - "8080:8080"

  user-service:
    build: ./fx-helper-sca-user
    environment:
      spring.profiles.active: dev
      NACOS_HOST: nacos
      RMQ_HOST: rmq-namesrv
      REDIS_HOST: redis
      PROMETHEUS_HOST: prometheus
      TEMPO_HOST: tempo
      LOKI_HOST: loki

    depends_on:
      nacos:
        condition: service_healthy
      redis:
        condition: service_started
      rmq-namesrv:
        condition: service_started
      prometheus:
        condition: service_started
      grafana:
        condition: service_started
      tempo:
        condition: service_started
      loki:
        condition: service_started
    volumes:
      - fx-helper-volume-home:/root
    ports:
      - "8081:8080"

  shop-service:
    build: ./fx-helper-sca-shop
    extends:
      service: user-service
    ports: !override
      - "8082:8080"

  misc-service:
    build: ./fx-helper-sca-misc
    extends:
      service: user-service
    ports: !override
      - "8083:8080"

  account-service:
    build: ./fx-helper-sca-account
    extends:
      service: user-service
    ports: !override
      - "8084:8080"

  pay-service:
    build: ./fx-helper-sca-pay
    extends:
      service: user-service
    ports: !override
      - "8085:8080"

  order-service:
    build: ./fx-helper-sca-order
    extends:
      service: user-service
    ports: !override
      - "8086:8080"

  agg-service:
    build: ./fx-helper-sca-agg
    extends:
      service: user-service
    ports: !override
      - "8087:8080"

volumes:
  prometheus:
    driver: local
  tempo:
    driver: local
  loki:
    driver: local
  fx-helper-volume-home:
    driver: local