@import '@nutui/nutui-taro/dist/styles/variables-jdb.scss';

.fx-index {
  &-header {
    display: flex;
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-header image {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 10%;
  }

  &-header text {
    color: red;
    font-size: $tdd-font-size-3;
    font-family: "PingFang SC", Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: line-through red;
    margin: 8px;
  }

  &-slogan {
    font-size: $tdd-font-size-2;
    font-family: "PingFang SC", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $title-color;
    margin: 50px 10px 30px 10px;

  }

  &-button {
    &-reg {
      margin-top: 20px;
    }

  }

  &-tip {
    display: block;
    text-align: center;
    font-size: $tdd-font-size-5;
    color: $text-color;


  }
}