@import '@nutui/nutui-taro/dist/styles/variables-jdb.scss';

.item {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 10px;
  border: 1px solid #f5f6f7;
  margin: 6px 5px 0 5px;
  box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);

}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: $tdd-font-size-6;
  color: $text-color;
  padding: 2px;

  &-center {
    @extend .field;
    align-items: center;

    &-small {
      @extend .field-center;
      font-size: $tdd-font-size-7;
    }
  }

  &-large {
    @extend .field;
    font-size: $tdd-font-size-5;

  }
}


.filter {
  &-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f5f6f7;

  }

  &-modal {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    font-size: $tdd-font-size-6;
    color: $text-color;

    &-label {
      align-self: stretch;
      text-align: left;
      padding-left: 20px;
      font-weight: bolder;
      font-size: $tdd-font-size-5;

    }

    &-datepicker {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }

    &-button {

      margin: 5px 10px;

    }
  }
}