@import "@nutui/nutui-taro/dist/styles/variables-jdb.scss";

.icon {
  width: 32px;
  height: 32px;
}

.row {
  margin: 5px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #f5f6f7;
  box-shadow: 0px 1px 3px 0px rgba(237, 238, 241, 1);
}

.board {
  &-frame {
    margin: 8px 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: auto;
    border-radius: 5px;
    border: 1px solid #f5f6f7;
    box-shadow: 0px 1px 6px 0px rgba(237, 238, 241, 1);
  }

  &-image {
    margin: 6px 4px;
    height: 138px;
    width: 138px;
    border-radius: 10px;
    flex-shrink: 0;
  }

  &-right {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    flex: auto;

    &-title {
      color: $title-color;
      font-size: $tdd-font-size-2;
      font-weight: bold;
    }

    &-intro {
      font-size: $tdd-font-size-5;
      max-height: 85px;
      overflow: scroll;
      color: $text-color;
    }
  }

}


.input-amount-modal {
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  font-size: $tdd-font-size-6;
  color: $text-color;

  &-label {
    align-self: stretch;
    text-align: center;
    font-size: $tdd-font-size-5;

  }

  &-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  &-button {

    margin-top: 10px;

  }
}

.qr-code-modal {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  font-size: $tdd-font-size-6;
  color: $text-color;

  &-tag {
    align-self: stretch;
    text-align: center;
    font-size: $tdd-font-size-5;
  }

  &-image {
    height: 200px;
    width: 200px;
  }
}